*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
    padding-left: 10px;
    background-color: white;
    color: #151515;
}

.container{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.nav{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 2px solid rgba(255,255,255,.05); */
    transition: height .5s ease;
}
.nav a:hover{
    /* color: #fa0202; */
    opacity: 0.7;
    text-decoration: none;
}

.nav a{
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
}

.nav .logo{
    font-size: 3.5rem;
    font-weight: bold;
}

.nav-list{
    list-style: none;
    display: flex;
    margin-right: auto;
    margin-left: 4rem;
}

.nav-link{
    margin: 0 2rem;
    position: relative;
}

.nav-link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}

.nav-link:hover::after{
    transform: scaleX(1);
}

#nav-cta{
    display: inline-block;
     background-color: rgb(255, 254, 254); 
    color: #e50000;
    padding: 1rem 2rem;
    /* border-radius: 2rem; */
    /* transition: background-color .5s ease; */
    /* width: 200px; */
    font-weight: bold;
    border: 2px solid #e50000;
    font-size: 22px;
}
#nav-cta{
    width: 300px;
    text-align: center;
}

/* #nav-cta:hover{
    background-color: #d3d3d3;
} */


/*Apply styles after scroll*/
.scrolling-active{
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

.scrolling-active .nav{
    height: 6.6rem;
}

.scrolling-active .nav a{
    color: #313131;
}

.scrolling-active #nav-cta{
    background-color: #e50000;
    /* color: rgb(241, 4, 4); */
    border-color: #e50000; 
    color: #ffffff;
}

/* .scrolling-active #nav-cta:hover{
    background-color: #151515;
} */

.scrolling-active .nav-link::after{
    background-color: #313131;
}

/*Apply styles after scroll end*/


/* Hero Demo Content*/
/* .hero{
    width: 100%;
    height: 100vh;
     background: url("../images/Screenshot\ \(364\).png") center no-repeat;
    
    background-size: cover;
    position: relative;
} */

.hero::after{
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}

.demo-content{
    width: 100%;
    height: 200vh;
    background-color: #fff;
}
/* Hero end*/
.nav ul li a{
    font-weight: bolder;
    font-size: 20px;
    color: #151515;
}
.landingPageAnimation{
    background-image:  linear-gradient(180deg,rgba(255,255,255,0) 90%,#ffffff 100%) ,url("../images/GEN_insights-scaled.jpg");
    background-size: cover;
    position:relative;
    width: 100%;
    height: 800px;
    /* border-bottom: 0.3px solid rgb(227, 216, 216); */
    font-size: 40px;
    padding-left: 30px;
    margin-bottom: 20px;
}
.landingPageAnimation h1{
    font-size: 80px;
    padding-top: 250px;
    padding-left: 170px;
    padding-bottom: 100px;
    font-weight: 500;
     color: black;
}

.sec4{
    width: 100%;
    display: flex;
    margin-top: 10%;
}
.sec4 :hover{
    transform: translateY(-10px);
    transition: 3s;
    /* transform: translateY(20px); */
}
.sec5 :hover{
    transform: translateY(-10px);
    transition: 3s;
    /* transform: translateY(20px); */
}
.sec6 :hover{
    transform: translateY(-10px);
    transition: 3s;
    /* transform: translateY(20px); */
}
.sec4 .d1{
    margin-left:15%;
     /* text-align: center; */
 }
 .sec4 .d1 h1{
    font-size: 40px;
    /* color: #E50000; */
    font-weight: 600;
    color: #000000;

 }
 .sec4 .d1 p{
    color: #000000!important;
    font-family: 'Qanelas-light',Helvetica,Arial,Lucida,sans-serif;
    font-size: 32px;
    /* line-height: 1.8em;
    padding-top: 2%!important;
    padding-bottom: 2%!important;
    margin-bottom: 6%!important;
    transition: margin 300ms ease 0ms; */
    margin-top: 18%;
 }

 @media (max-width: 980px){
.sec4 .d1 p {
    margin-bottom: 30px;
}
 }
@media only screen and (max-width: 767px){
.sec4 .d1 p {
    font-size: 16px;
}
}

.sec4 .spn{
    font-size: 14px;
    color: grey;
    margin-top: 4px;
    /* padding-top: 8px; */
}
 /* ---------------- */
 .sec4 .d2{
    margin-left:15%;
     /* text-align: center; */
     /* border: 1px;
     border-color: #333; */
     width: 270px;
     margin-top: 3%;
      /* height: 370px;  */
 }
 .sec4 .d2 h1{
    font-size: 40px;
    /* color : #E50000; */
    font-weight: 600;
    color: #000000;
 }
 .sec4 .d2 .spn2{
     font-weight: 500;
 }
 .sec4 .d2 p{
    font-weight: 500;
     /* color: rgb(59, 59, 59); */
     border: 1px solid rgba(0, 0, 0, 0.214);
     padding: 8px;
     font-size: 26px;
     color: #151515;
     margin-top: 10%;
    height: 180px;
    line-height: 1.4em;
 }
 .sec4 .d2 p span{
     font-size: 14px;
 }
 .sec4 .d2 p a{
     font-size: 15px;
     font-weight: lighter;
     color: #333;
      text-decoration: underline;
     margin-top: 5%;
 }
 /* new section */
 .sec5{
    width: 100%;
    display: flex;
    /* margin-top: 10%; */
}
.sec5 .d1{
    margin-left:15%;
     /* text-align: center; */
 }
 .sec5 .d1 p{
    color: grey;
    /* font-family: 'Qanelas-light',Helvetica,Arial,Lucida,sans-serif; */
    font-size: 20px;
    /* font-weight: lighter; */
    font-family: 'M PLUS Rounded 1c', sans-serif;
    /* line-height: 1.8em;
    padding-top: 2%!important;
    padding-bottom: 2%!important;
    margin-bottom: 6%!important;
    transition: margin 300ms ease 0ms; */
    margin-top: 5%;
    line-height: 1.6em;
    cursor: pointer;
    /* height: 280px; */
 }
 .sec5 .d1 .p2{
     color: #000000;
     font-size: 32px;
      margin-top: 15%; 
 }

 @media (max-width: 980px){
.sec5 .d1 p {
    margin-bottom: 30px;
}
 }
@media only screen and (max-width: 767px){
.sec5 .d1 p {
    font-size: 16px;
}
}

.sec5 .spn{
    font-size: 14px;
    color: grey;
    margin-top: 4px;
    /* padding-top: 8px; */
}
 /* ---------------- */
 .sec5 .d2{
    margin-left:8.5%;
     /* text-align: center; */
     /* border: 1px;
     border-color: #333; */
     width: 270px;
     margin-top: 2%;
      /* height: 370px;  */
 }
 
 .sec5 .d2 .spn2{
     font-weight: 500;
 }
 .sec5 .d2 p{
    font-weight: 500;
     /* color: rgb(59, 59, 59); */
     border: 1px solid rgba(0, 0, 0, 0.214);
     padding: 10px;
     font-size: 26px;
     color: #151515;
      /* margin-top: 4%; */
    padding-top: 8px;
    height: 240px;
    line-height: 1.6em;
 }
 .sec5 .d2 p span{
     font-size: 14px;
 }
 .sec5 .d2 p a{
     font-size: 15px;
     font-weight: lighter;
     color: #333;
      text-decoration: underline;
     /* padding-top: 20px; */
 }
 /* new section */
 .sec6{
    width: 100%;
    display: flex;
    /* margin-top: 10%; */
}
.sec6 .d1{
    margin-left:15%;
     /* text-align: center; */
 }
 .sec6 .d1 p{
    color: grey;
    /* font-family: 'Qanelas-light',Helvetica,Arial,Lucida,sans-serif; */
    font-size: 20px;
    /* font-weight: lighter; */
    /* font-family: 'M PLUS Rounded 1c', sans-serif; */
    /* line-height: 1.8em;
    padding-top: 2%!important;
    padding-bottom: 2%!important;
    margin-bottom: 6%!important;
    transition: margin 300ms ease 0ms; */
    margin-top: 5%;
    line-height: 1.8em;
    cursor: pointer;
    /* height: 280px; */
 }
 /* .sec6 .d1 .p2{
     color: #000000;
     font-size: 32px;
      margin-top: 15%; 
 } */

 @media (max-width: 980px){
.sec6 .d1 p {
    margin-bottom: 30px;
}
 }
@media only screen and (max-width: 767px){
.sec6 .d1 p {
    font-size: 16px;
}
}

.sec6 .spn{
    font-size: 14px;
    color: grey;
    margin-top: 4px;
    /* padding-top: 8px; */
}
 /* ---------------- */
 .sec6 .d2{
    margin-left:8.5%;
     /* text-align: center; */
     /* border: 1px;
     border-color: #333; */
     width: 270px;
     /* margin-top: 2%; */
      /* height: 370px;  */
 }
 
 .sec6 .d2 .spn2{
     font-weight: 500;
 }
 .sec6 .d2 p{
    font-weight: 500;
     /* color: rgb(59, 59, 59); */
     border: 1px solid rgba(0, 0, 0, 0.214);
     padding: 10px; 
     font-size: 26px;
     color: #151515;
      /* margin-top: 4%; */
    height: 250px;
     line-height: 1.4em; 
     margin-bottom: 30px;
     /* margin: 3px; */
 }
 .sec6 .d2 p span{
     font-size: 14px;
 }
 .sec6 .d2 p a{
     font-size: 15px;
     font-weight: lighter;
     color: #333;
      text-decoration: underline;
     /* padding-top: 20px; */
 }
 /* section 7 */
 .sec7{
    width: 100%;
    display: flex;
    /* margin-top: 10%; */
}
.sec7 .d1{
    margin-left:15%;
     /* text-align: center; */
 }
 .sec7 .d1 p{
    color: #000000;
    /* font-family: 'Qanelas-light',Helvetica,Arial,Lucida,sans-serif; */
    font-size: 32px;
    width: 570px;
    /* font-weight: lighter; */
    /* font-family: 'M PLUS Rounded 1c', sans-serif; */
    /* line-height: 1.8em;
    padding-top: 2%!important;
    padding-bottom: 2%!important;
    margin-bottom: 6%!important;
    transition: margin 300ms ease 0ms; */
    margin-top: 10%;
    line-height: 1.4em;
    cursor: pointer;
    /* height: 280px; */
 }
  .sec7 .d1 .p2{
     color: gray;
     font-size: 22px;
      /* margin-top: 15%;  */
      width: 700px;
      line-height: 1.8em;
      font-family: 'Source Sans Pro', sans-serif;
 } 

 @media (max-width: 980px){
.sec7 .d1 p {
    margin-bottom: 30px;
}
 }
@media only screen and (max-width: 767px){
.sec7 .d1 p {
    font-size: 16px;
}
}

.sec7 .spn{
    font-size: 14px;
    color: grey;
    margin-top: 10px;
    /* padding-top: 8px; */
}
 /* ---------------- */
 .sec7 .d2{
    /* margin-left:8.5%; */
     /* text-align: center; */
     /* border: 1px;
     border-color: #333; */
     width: 600px;
     transform: translateX(-10px);
     /* margin-top: 2%; */
      /* height: 370px;  */
 }
 
 .sec7 .d2 .spn2{
     font-weight: 500;
 }
 .sec7 .d2 p{
    font-weight: 500;
     /* color: rgb(59, 59, 59); */
     border: 1px solid rgba(0, 0, 0, 0.214);
     padding: 10px; 
     font-size: 26px;
     color: #151515;
      /* margin-top: 4%; */
    height: 270px;
    width: 280px;
     line-height: 1.4em; 
     /* margin: 3px; */
 }
 .sec7 .d2 p span{
     font-size: 14px;
 }
 .sec7 .d2 p a{
     font-size: 15px;
     font-weight: lighter;
     color: #333;
      text-decoration: underline;
      
     /* padding-top: 20px; */
 }
 /* new */
 .sec7 .d3{
    margin-top: 22%;
     width: 665px;
      height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.214);
    transform: translateX(-295px);
    padding: 10px;
    display: inline-block;
 }
 .sec7 .d3 p{
     font-size: 26px;
     color: #000000;
     padding-top: 15px;
     line-height: 1.4em;
     width: 270px;
 }
 .sec7 .d3 span{
     font-size: 14px;
 }
 .sec7 .d3 p span{
    font-size: 14px;
}
.sec7 .d3  a{
    font-size: 15px;
    font-weight: lighter;
    color: #333;
     text-decoration: underline;
    /* padding-top: 20px; */
}
/* section 8 */
.sec8{
    width: 100%;
    display: flex;
    /* margin-top: 10%; */
}
.sec8 .d1{
    margin-left:15%;
     /* text-align: center; */
 }
 .sec8 .d1 p{
    color: #000000;
    /* font-family: 'Qanelas-light',Helvetica,Arial,Lucida,sans-serif; */
    font-size: 32px;
    /* font-weight: lighter; */
    /* font-family: 'M PLUS Rounded 1c', sans-serif; */
    /* line-height: 1.8em;
    padding-top: 2%!important;
    padding-bottom: 2%!important;
    margin-bottom: 6%!important;
    transition: margin 300ms ease 0ms; */
    margin-top: 5%;
    line-height: 1.6em;
    cursor: pointer;
    /* height: 280px; */
 }
  .sec8 .d1 .p2{
     color: rgb(172, 159, 159);
     font-size: 22px;
      margin-top: 10%; 
      line-height: 1.6em;
 } 

 @media (max-width: 980px){
.sec8 .d1 p {
    margin-bottom: 30px;
}
 }
@media only screen and (max-width: 767px){
.sec8 .d1 p {
    font-size: 16px;
}
}

.sec8 .spn{
    font-size: 14px;
    color: grey;
    /* margin-top: 10px; */
     /* padding-top: 20px; */
     transform: translateY(-25px);
}
 /* ---------------- */
 .sec8 .d2{
    margin-left:5.5%;
     /* text-align: center; */
     /* border: 1px;
     border-color: #333; */
     width: 270px;
     margin-top: 3%;
      /* height: 370px;  */
 }
 
 .sec8 .d2 .spn2{
     font-weight: 500;
 }
 .sec8 .d2 p{
    width: 280px;
     /* color: rgb(59, 59, 59); */
     border: 1px solid rgba(0, 0, 0, 0.214);
     padding: 10px; 
     font-size: 26px;
     color: #151515;
      /* margin-top: 4%; */
    height: 250px;
     line-height: 1.6em; 
     margin-bottom: 30px;
     /* margin: 3px; */
 }
 .sec8 .d2 p span{
     font-size: 14px;
 }
 .sec8 .d2 p a{
     font-size: 15px;
     font-weight: lighter;
     color: #333;
      text-decoration: underline;
     /* padding-top: 20px; */
 }
 /* section 9  */
 .sec9{
    width: 100%;
    display: flex;
    /* margin-top: 10%; */
}
.sec9 .d1{
    margin-left:15%;
     /* text-align: center; */
 }
 .sec9 .d1 p{
    color: #000000;
    /* font-family: 'Qanelas-light',Helvetica,Arial,Lucida,sans-serif; */
    font-size: 32px;
    width: 570px;
    /* font-weight: lighter; */
    /* font-family: 'M PLUS Rounded 1c', sans-serif; */
    /* line-height: 1.8em;
    padding-top: 2%!important;
    padding-bottom: 2%!important;
    margin-bottom: 6%!important;
    transition: margin 300ms ease 0ms; */
    margin-top: 10%;
    line-height: 1.4em;
    cursor: pointer;
    /* height: 280px; */
 }
  .sec9 .d1 .p2{
     color: gray;
     font-size: 22px;
      /* margin-top: 15%;  */
      width: 700px;
      line-height: 1.8em;
      font-family: 'Source Sans Pro', sans-serif;
 } 

 @media (max-width: 980px){
.sec9 .d1 p {
    margin-bottom: 30px;
}
 }
@media only screen and (max-width: 767px){
.sec9 .d1 p {
    font-size: 16px;
}
}

.sec9 .spn{
    font-size: 14px;
    color: grey;
    margin-top: 10px;
    /* padding-top: 8px; */
}
 /* ---------------- */
 .sec9 .d2{
    /* margin-left:8.5%; */
     /* text-align: center; */
     /* border: 1px;
     border-color: #333; */
     width: 600px;
     transform: translateX(-10px);
     /* margin-top: 2%; */
      /* height: 370px;  */
 }
 
 .sec9 .d2 .spn2{
     font-weight: 500;
 }
 .sec9 .d2 p{
    font-weight: 500;
     /* color: rgb(59, 59, 59); */
     border: 1px solid rgba(0, 0, 0, 0.214);
     padding: 10px; 
     font-size: 26px;
     color: #151515;
      /* margin-top: 4%; */
    height: 200px;
    width: 280px;
     line-height: 1.4em; 
     /* margin: 3px; */
 }
 .sec9 .d2 p span{
     font-size: 14px;
 }
 .sec9 .d2 p a{
     font-size: 15px;
     font-weight: lighter;
     color: #333;
      text-decoration: underline;
      
     /* padding-top: 20px; */
 }
 /* new */
 .sec9 .d3{
    margin-top: 18%;
     width: 670px;
      height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.214);
    transform: translateX(-290px);
    padding: 10px;
    display: inline-block;
 }
 .sec9 .d3 p{
     font-size: 26px;
     color: #000000;
     padding-top: 15px;
     line-height: 1.4em;
     width: 270px;
 }
 .sec9 .d3 span{
     font-size: 14px;
 }
 .sec9 .d3 p span{
    font-size: 14px;
}
.sec9 .d3  a{
    font-size: 15px;
    font-weight: lighter;
    color: #333;
     text-decoration: underline;
    /* padding-top: 20px; */
}