*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
    padding-left: 10px;
    background-color: white;
    color: #151515;
}

.container{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.nav{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 2px solid rgba(255,255,255,.05); */
    transition: height .5s ease;
}
.nav a:hover{
    /* color: #fa0202; */
    opacity: 0.7;
    text-decoration: none;
}

.nav a{
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
}

.nav .logo{
    font-size: 3.5rem;
    font-weight: bold;
}

.nav-list{
    list-style: none;
    display: flex;
    margin-right: auto;
    margin-left: 4rem;
}

.nav-link{
    margin: 0 2rem;
    position: relative;
}

.nav-link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}
@font-face {
    font-family: soft;
    src: url(/assets/fonts/QanelasSoft-Medium.ttf);
}
.nav-link{
    font-family: soft;
}
#nav-cta{
    font-family: soft;
}

.nav-link:hover::after{
    transform: scaleX(1);
}

#nav-cta{
    display: inline-block;
     background-color: rgb(255, 254, 254); 
    color: #e50000;
    padding: 1rem 2rem;
    /* border-radius: 2rem; */
    /* transition: background-color .5s ease; */
    /* width: 200px; */
    font-weight: bold;
    border: 2px solid #e50000;
    font-size: 22px;
}
#nav-cta{
    width: 300px;
    text-align: center;
}

/*Apply styles after scroll*/
.scrolling-active{
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

.scrolling-active .nav{
    height: 6.6rem;
}

.scrolling-active .nav a{
    color: #313131;
}

.scrolling-active #nav-cta{
    background-color: #e50000;
    /* color: rgb(241, 4, 4); */
    border-color: #e50000; 
    color: #ffffff;
}

.scrolling-active .nav-link::after{
    background-color: #313131;
}

/*Apply styles after scroll end*/

.hero::after{
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}

.demo-content{
    width: 100%;
    height: 200vh;
    background-color: #fff;
}
/* Hero end*/
.nav ul li a{
    font-weight: bolder;
    font-size: 20px;
    color: #151515;
}
/* chhuna mana hai  */
.container{
     /* background: url("https://images.unsplash.com/photo-1422466654108-5e533f591881?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80");
    background-size: cover;
     */
}
body{
    overflow-x: hidden;
}
.main{
    width: 100%;
    
}
.main{
    
    background:url("https://images.unsplash.com/photo-1422466654108-5e533f591881?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80");
    background-size: cover;
    height: 100vh;
    
}

.para{
    margin-top:  55%;
    padding: 10%;
    
}
.btn{
    margin: 5px;
    margin-top: 3%;
    float: left;
    margin-left: 5%;
    font-size: 22px;
    display: flex;
}
.btn button{
    width: 250px;
    height: 45px;
    /* background-color: red; */
    color: antiquewhite;
    font-size: 22px;
}
.heading{
    width: 100%;
    padding-top: 15%;
    margin-left: 10%;
}
.heading h1{
    font-size: 80px;
}
.heading p{
    font-size: 34px;
}
/* yha tak */
/* .landingPageAnimation{
    background-image:  linear-gradient(180deg,rgba(255,255,255,0) 90%,#ffffff 100%) ,url("../images/GEN_Join_new.jpg");
    background-size: cover;
    position:relative;
    width: 100%;
    height: 100%;
    font-size: 40px;
    padding-left: 30px;
    margin-bottom: 20px;
}

.landingPageAnimation button{
    height: 42px;
    border: none;
}
.landingPageAnimation button a{
    color: white;
}
.landingPageAnimation button a:hover{
    text-decoration: none;
}
.landingPageAnimation button a{
    text-decoration: none;
} */
@font-face {
    font-family: light;
    src: url(/assets/fonts/QanelasSoft-Light.ttf);
}
.row p{
    font-size: 20px;
    line-height: 37px;
    font-family: light;
    font-weight: 500;
}
@font-face {
    font-family: semibold;
    src: url(/assets/fonts/QanelasSoft-SemiBold.ttf);
}
.row h2{
    font-size: 50px;
    line-height: 63px;
    font-family: semibold;
    color: #000000!important;
}
/* footer section */
.footer {
    /* display: flex; */
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color:#313131;
    height: 400px;
    }
    
    .footer > * {
    flex:  1 100%;
    }
    
    .l-footer {
    margin-right: 1.25em;
    margin-bottom: 2em;
    }
    
    .footer ul {
    list-style: none;
    padding-left: 0;
    }
    
    .footer li {
    line-height: 2em;
    }
    
    .footer a {
    text-decoration: none;
    }
    
    .r-footer {
    display: flex;
    flex-flow: row wrap;
    }
    
    .r-footer > * {
    flex: 1 50%;
    margin-right: 1.25em;
    }
    
    .links a {
    color:#fff;
    background:none;
    display: inline-block;
    font-size: 17px;
    padding: 5px;
    margin-top: 2%;
    }
    @font-face {
        font-family: Qanelas-regular;
        src: url(/assets/fonts/QanelasSoft-Regular.ttf);
    }
    .links a:hover{
        color: #fff;
        text-decoration: none;
        font-family: Qanelas-regular;
}
    
    
    .h-box {
    column-count: 2;
    column-gap: 1.25em;
    }
    
    .b-footer {
    /* text-align: center; */
    color: #999;
    padding-top: 50px;
    margin-top: 1%;
    font-size: 12px;
    }
    
    .l-footer p {
     /* padding-right: 50%;  */
    /* float: inline-start; */
    color: #fff;
    font-size: 17px;
    margin-top: 2%;
    font-family: Qanelas-regular;
    }   
    .l-footer p a{
        color: #ffffff;
        font-size: 17px;
        text-decoration: underline;
    }
    
    @media screen and (min-width: 400px) {
    .r-footer > * {
    flex: 1;
    }
    
    .features {
    flex-grow: 2;
    }
    
    .l-footer {
    flex: 1 0px;
    }
    
    .r-footer {
    flex: 2 0px;
    }
    }