.bubble{
    position: fixed;
    z-index: 1505;
    height: 80px;
    top: 0px;
    left: 0px;
    width: 496px;
    background-color: rgb(228, 240, 221);
    border-radius: 0px;
    box-sizing: border-box;
}
.line{
    margin-top: 0px;
    height: 80px;
}
.box{
-webkit-text-size-adjust: 100%;
margin: 0;
padding: 0;
border: 0;
font: inherit;
vertical-align: baseline;
box-sizing: inherit;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
position: absolute;
top: 0px;
pointer-events: none;
height: 80px;
left: 0px;
width: 496px;
}
.group{
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    pointer-events: auto;
    overflow: visible;
    display: block;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    height: 80px;
    top: 0px;
    border-radius: 0px;
    width: 496px;
    left: 0px;
}