*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
    padding-left: 10px;
    background-color: white;
    color: #151515;
}

.container{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.nav{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 2px solid rgba(255,255,255,.05); */
    transition: height .5s ease;
}
.nav a:hover{
    /* color: #fa0202; */
    opacity: 0.7;
    text-decoration: none;
}

.nav a{
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
}

.nav .logo{
    font-size: 3.5rem;
    font-weight: bold;
}

.nav-list{
    list-style: none;
    display: flex;
    margin-right: auto;
    margin-left: 4rem;
}

.nav-link{
    margin: 0 2rem;
    position: relative;
}

.nav-link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}

.nav-link:hover::after{
    transform: scaleX(1);
}

#nav-cta{
    display: inline-block;
     background-color: rgb(255, 254, 254); 
    color: #e50000;
    padding: 1rem 2rem;
    /* border-radius: 2rem; */
    /* transition: background-color .5s ease; */
    /* width: 200px; */
    font-weight: bold;
    border: 2px solid #e50000;
    font-size: 22px;
}
#nav-cta{
    width: 300px;
    text-align: center;
}

/* #nav-cta:hover{
    background-color: #d3d3d3;
} */


/*Apply styles after scroll*/
.scrolling-active{
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

.scrolling-active .nav{
    height: 6.6rem;
}

.scrolling-active .nav a{
    color: #313131;
}

.scrolling-active #nav-cta{
    background-color: #e50000;
    /* color: rgb(241, 4, 4); */
    border-color: #e50000; 
    color: #ffffff;
}

 .scrolling-active #nav-cta:hover{
    text-decoration: none;
} 

 .scrolling-active .nav-link::after{
    background-color: #313131;
} 

/*Apply styles after scroll end*/


/* Hero Demo Content*/
/* .hero{
    width: 100%;
    height: 100vh;
     background: url("../images/Screenshot\ \(364\).png") center no-repeat;
    
    background-size: cover;
    position: relative;
} */

.hero::after{
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}

.demo-content{
    width: 100%;
    height: 200vh;
    background-color: #fff;
}
/* Hero end*/
.nav ul li a{
    font-weight: bolder;
    font-size: 20px;
    color: #151515;
}
/*  */
/* .landingPageAnimation{
    background-image:  linear-gradient(180deg,rgba(255,255,255,0) 90%,#ffffff 100%) ,url("../images/image-000-scaled.jpg");
    background-size: cover;
    position:relative;
    width: 100%;
    height: 100%;
    font-size: 40px;
    padding-left: 30px;
    margin-bottom: 20px;
}
.landingPageAnimation button{
    margin-left: 12%;
    height: 50px;
    width: 280px;
    color: #ffffff!important;
    border-width: 0px!important;
    border-color: #e50000;
    border-radius: 0px;
    font-size: 22px;
    font-family: 'Qanelas-semibold',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 700!important;
    background-color: #e50000;
}
.landingPageAnimation button:hover{
    box-shadow:  10px 10px 0 0 rgb(34, 28, 28);
}
.landingPageAnimation h6{
    padding-top: 49px;
} */
#main-area{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
    display: block;
}
div.et_pb_section.et_pb_section_0 {
    background-image: linear-gradient(180deg,rgba(255,255,255,0) 90%,#ffffff 100%),url("../images/image-000-scaled.jpg")!important;
}
@media only screen and (max-width: 767px){
.et_pb_section.et_pb_section {
    padding-top: 0px;
    padding-bottom: 20px;
    margin-top: 72px;
}
}
.et_pb_section_0.et_pb_section {
    padding-top: 0px;
    padding-bottom: 30px;
    margin-top: 78px;
}
@media (max-width: 980px){
.et_pb_section {
    padding: 50px 0;
}
}
.et_pb_section {
    position: relative;
    background-color: #fff;
}
.et_pb_section, .et_pb_slider .et_pb_slide {
    background-position: 50%;
    background-size: 100%;
    background-size: cover;
}
.et_pb_with_background {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}

@media only screen and (max-width: 767px){
.et_pb_row_0.et_pb_row {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}
}
.et_pb_row_0.et_pb_row {
    padding-bottom: 0px!important;
    margin-bottom: 90px!important;
    padding-bottom: 0px;
}
@media only screen and (max-width: 767px){
.et_pb_row_0, body #page-container .et-db #et-boc .et-l .et_pb_row_0.et_pb_row, body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_0.et_pb_row, body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_0.et_pb_row {
    width: 80%;
}
}
.container, .et_pb_row, .et_pb_slider .et_pb_container, .et_pb_fullwidth_section .et_pb_title_container, .et_pb_fullwidth_section .et_pb_title_featured_container, .et_pb_fullwidth_header:not(.et_pb_fullscreen) .et_pb_fullwidth_header_container {
    max-width: 1920px;
}
@media (max-width: 980px){
.et_pb_row {
    max-width: 1080px;
}
}
@media (max-width: 980px){
.et_pb_column .et_pb_row_inner, .et_pb_row {
    padding: 30px 0;
}
}
.et_pb_row{
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.et_pb_row {
    width: 80%;
    max-width: 1080px;
    margin: auto;
    position: relative;
}
div{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;

}
.et_pb_row:after, .et_pb_row_inner:after, .et_pb_slides:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    width: 0;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}
body, input, textarea, select {
    font-family: 'Qanelas-regular',Helvetica,Arial,Lucida,sans-serif;
}
body {
    font-family: Open Sans,Arial,sans-serif;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    line-height: 1.7em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
}
:root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.et_pb_row:after, .et_pb_row_inner:after, .et_pb_slides:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    width: 0;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@media (max-width: 980px){
.et_pb_row .et_pb_column .et_pb_module.et-last-child, .et_pb_row .et_pb_column .et_pb_module:last-child, .et_section_specialty .et_pb_row .et_pb_column .et_pb_module.et-last-child, .et_section_specialty .et_pb_row .et_pb_column .et_pb_module:last-child {
    margin-bottom: 0;
}
}
.et_pb_text_0.et_pb_text {
    color: #3c3c3c!important;
}
@media (max-width: 980px){
.et_pb_column .et_pb_module {
    margin-bottom: 30px;
}
}
@media only screen and (max-width: 767px){
.et_pb_text_0 {
    font-size: 24px;
    width: 100%;
}
}
.et_pb_text_0 {
    font-family: 'Qanelas-light',Helvetica,Arial,Lucida,sans-serif;
    font-size: 44px;
    line-height: 55px;
}
.et_pb_text_0 {
    font-family: 'Qanelas-light',Helvetica,Arial,Lucida,sans-serif;
    font-size: 44px;
    line-height: 55px;
}
.et_pb_text_align_left {
    text-align: left;
}
.et_pb_module{
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.et_pb_text{
    word-wrap: break-word;
}
.et_pb_text,div{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}
body {
    font-family: Open Sans,Arial,sans-serif;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    line-height: 1.7em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    line-height: 1;
}
:root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@media only screen and (max-width: 767px){
.et_pb_row_1.et_pb_row {
    margin-top: -50%!important;
    margin-left: 10%!important;
}
}
.et_pb_row_1.et_pb_row {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    padding-top: 0px;
    padding-bottom: 0px;
}
.et_pb_row_1, body #page-container .et-db #et-boc .et-l .et_pb_row_1.et_pb_row, body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_1.et_pb_row, body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_1.et_pb_row {
    width: 72%;
}
.container, .et_pb_row, .et_pb_slider .et_pb_container, .et_pb_fullwidth_section .et_pb_title_container, .et_pb_fullwidth_section .et_pb_title_featured_container, .et_pb_fullwidth_header:not(.et_pb_fullscreen) .et_pb_fullwidth_header_container {
    max-width: 1920px;
}
@media (max-width: 980px){
.et_pb_row {
    max-width: 1080px;
}
}
@media (max-width: 980px){
.et_pb_column .et_pb_row_inner, .et_pb_row {
    padding: 30px 0;
}
}
.et_pb_row{
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.et_pb_row {
    width: 80%;
    max-width: 1080px;
    margin: auto;
    position: relative;
}
div{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}
body, input, textarea, select {
    font-family: 'Qanelas-regular',Helvetica,Arial,Lucida,sans-serif;
}
body {
    font-family: Open Sans,Arial,sans-serif;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    line-height: 1.7em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    line-height: 1;
}
:root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.et_pb_row:after, .et_pb_row_inner:after, .et_pb_slides:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    width: 0;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@media (max-width: 980px)
.et_pb_column {
    width: 100%;
    margin-bottom: 30px;
}
.et_pb_all_tabs, .et_pb_column, .et_pb_counters .et_pb_counter_container, .et_pb_module, .et_pb_portfolio_item, .et_pb_posts_nav a, .et_pb_pricing_table, .et_pb_row, .et_pb_row_inner, .et_pb_slide, .et_pb_tab, .et_pb_with_background {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.et_pb_css_mix_blend_mode_passthrough {
    mix-blend-mode: unset!important;
}
.et_pb_column {
    float: left;
    background-size: cover;
    background-position: 50%;
    position: relative;
    z-index: 2;
    min-height: 1px;
}
@media (max-width: 479px)
.et_pb_column {
    width: 100%!important;
}
a, abbr, acronym, address, applet, b, big, blockquote, body, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body, input, textarea, select {
    font-family: 'Qanelas-regular',Helvetica,Arial,Lucida,sans-serif;
}
body, .et_pb_column_1_2 .et_quote_content blockquote cite, .et_pb_column_1_2 .et_link_content a.et_link_main_url, .et_pb_column_1_3 .et_quote_content blockquote cite, .et_pb_column_3_8 .et_quote_content blockquote cite, .et_pb_column_1_4 .et_quote_content blockquote cite, .et_pb_blog_grid .et_quote_content blockquote cite, .et_pb_column_1_3 .et_link_content a.et_link_main_url, .et_pb_column_3_8 .et_link_content a.et_link_main_url, .et_pb_column_1_4 .et_link_content a.et_link_main_url, .et_pb_blog_grid .et_link_content a.et_link_main_url, body .et_pb_bg_layout_light .et_pb_post p, body .et_pb_bg_layout_dark .et_pb_post p {
    font-size: 16px;
}
body {
    font-family: Open Sans,Arial,sans-serif;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    line-height: 1.7em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    line-height: 1;
}
:root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@media (max-width: 980px)
.et_pb_row .et_pb_column .et_pb_module.et-last-child, .et_pb_row .et_pb_column .et_pb_module:last-child, .et_section_specialty .et_pb_row .et_pb_column .et_pb_module.et-last-child, .et_section_specialty .et_pb_row .et_pb_column .et_pb_module:last-child {
    margin-bottom: 0;
}
@media (max-width: 980px)
.et_pb_column .et_pb_module {
    margin-bottom: 30px;
}
@media only screen and (max-width: 767px)
.et_pb_button_0_wrapper {
    margin-top: 8%!important;
}
.et_pb_module {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
}
.et_pb_all_tabs, .et_pb_column, .et_pb_counters .et_pb_counter_container, .et_pb_module, .et_pb_portfolio_item, .et_pb_posts_nav a, .et_pb_pricing_table, .et_pb_row, .et_pb_row_inner, .et_pb_slide, .et_pb_tab, .et_pb_with_background {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
a, abbr, acronym, address, applet, b, big, blockquote, body, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body, input, textarea, select {
    font-family: 'Qanelas-regular',Helvetica,Arial,Lucida,sans-serif;
}
body, .et_pb_column_1_2 .et_quote_content blockquote cite, .et_pb_column_1_2 .et_link_content a.et_link_main_url, .et_pb_column_1_3 .et_quote_content blockquote cite, .et_pb_column_3_8 .et_quote_content blockquote cite, .et_pb_column_1_4 .et_quote_content blockquote cite, .et_pb_blog_grid .et_quote_content blockquote cite, .et_pb_column_1_3 .et_link_content a.et_link_main_url, .et_pb_column_3_8 .et_link_content a.et_link_main_url, .et_pb_column_1_4 .et_link_content a.et_link_main_url, .et_pb_blog_grid .et_link_content a.et_link_main_url, body .et_pb_bg_layout_light .et_pb_post p, body .et_pb_bg_layout_dark .et_pb_post p {
    font-size: 16px;
}
body {
    font-family: Open Sans,Arial,sans-serif;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    line-height: 1.7em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    line-height: 1;
}
:root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body #page-container .et_pb_section .et_pb_button_0 {
    color: #ffffff!important;
    border-width: 0px!important;
    border-color: #e50000;
    border-radius: 0px;
    font-size: 22px;
    font-family: 'Qanelas-semibold',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 700!important;
    background-color: #e50000;
}
body.et_pb_button_helper_class .et_pb_button, body.et_pb_button_helper_class .et_pb_module.et_pb_button, .woocommerce.et_pb_button_helper_class a.button.alt, .woocommerce-page.et_pb_button_helper_class a.button.alt, .woocommerce.et_pb_button_helper_class button.button.alt, .woocommerce.et_pb_button_helper_class button.button.alt.disabled, .woocommerce-page.et_pb_button_helper_class button.button.alt, .woocommerce-page.et_pb_button_helper_class button.button.alt.disabled, .woocommerce.et_pb_button_helper_class input.button.alt, .woocommerce-page.et_pb_button_helper_class input.button.alt, .woocommerce.et_pb_button_helper_class #respond input#submit.alt, .woocommerce-page.et_pb_button_helper_class #respond input#submit.alt, .woocommerce.et_pb_button_helper_class #content input.button.alt, .woocommerce-page.et_pb_button_helper_class #content input.button.alt, .woocommerce.et_pb_button_helper_class a.button, .woocommerce-page.et_pb_button_helper_class a.button, .woocommerce.et_pb_button_helper_class button.button, .woocommerce-page.et_pb_button_helper_class button.button, .woocommerce.et_pb_button_helper_class input.button, .woocommerce-page.et_pb_button_helper_class input.button, .woocommerce.et_pb_button_helper_class #respond input#submit, .woocommerce-page.et_pb_button_helper_class #respond input#submit, .woocommerce.et_pb_button_helper_class #content input.button, .woocommerce-page.et_pb_button_helper_class #content input.button {
    color: #ffffff;
}
.et_pb_button_0_wrapper .et_pb_button_0, .et_pb_button_0_wrapper .et_pb_button_0:hover {
    padding-top: 2%!important;
    padding-right: 3%!important;
    padding-bottom: 2%!important;
    padding-left: 3%!important;
}
body .et_pb_button, .woocommerce a.button.alt, .woocommerce-page a.button.alt, .woocommerce button.button.alt, .woocommerce button.button.alt.disabled, .woocommerce-page button.button.alt, .woocommerce-page button.button.alt.disabled, .woocommerce input.button.alt, .woocommerce-page input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce-page #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button, .woocommerce-message a.button.wc-forward {
}
.et_pb_button_module_wrapper>a {
    display: inline-block;
}
.et_pb_button_0, .et_pb_button_0:after {
    transition: all 300ms ease 0ms;
}
.et_pb_button_0 {
    box-shadow: 10px 10px 0px 0px rgb(0 0 0 / 0%);
}
.et_pb_button, .et_pb_button_inner {
    position: relative;
}
.et_pb_button {
    font-size: 20px;
    font-weight: 500;
    padding: 0.3em 1em;
    line-height: 1.7em!important;
    background-color: transparent;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border: 2px solid;
    border-radius: 3px;
    -webkit-transition: all .2s;
    transition: all .2s;
}
a {
    color: #3c3c3c;
}
a, a:hover {
    text-decoration: none;
}
a {
    color: #2ea3f2;
}
a, abbr, acronym, address, applet, b, big, blockquote, body, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
body, input, textarea, select {
    font-family: 'Qanelas-regular',Helvetica,Arial,Lucida,sans-serif;
}
body, .et_pb_column_1_2 .et_quote_content blockquote cite, .et_pb_column_1_2 .et_link_content a.et_link_main_url, .et_pb_column_1_3 .et_quote_content blockquote cite, .et_pb_column_3_8 .et_quote_content blockquote cite, .et_pb_column_1_4 .et_quote_content blockquote cite, .et_pb_blog_grid .et_quote_content blockquote cite, .et_pb_column_1_3 .et_link_content a.et_link_main_url, .et_pb_column_3_8 .et_link_content a.et_link_main_url, .et_pb_column_1_4 .et_link_content a.et_link_main_url, .et_pb_blog_grid .et_link_content a.et_link_main_url, body .et_pb_bg_layout_light .et_pb_post p, body .et_pb_bg_layout_dark .et_pb_post p {
    font-size: 16px;
}
body {
    font-family: Open Sans,Arial,sans-serif;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    line-height: 1.7em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    line-height: 1;
}
:root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body #page-container .et_pb_section .et_pb_button_0:before, body #page-container .et_pb_section .et_pb_button_0:after {
    display: none!important;
}
.et_pb_button:before {
    display: none;
}
.et_pb_button:after, .et_pb_button:before {
    font-size: 32px;
    line-height: 1em;
    content: "\35";
    opacity: 0;
    position: absolute;
    margin-left: -1em;
    -webkit-transition: all .2s;
    transition: all .2s;
    text-transform: none;
    -webkit-font-feature-settings: "kern" off;
    font-feature-settings: "kern" off;
    font-variant: none;
    font-style: normal;
    font-weight: 400;
    text-shadow: none;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body #page-container .et_pb_section .et_pb_button_0:before, body #page-container .et_pb_section .et_pb_button_0:after {
    display: none!important;
}
.et_pb_button_0, .et_pb_button_0:after {
    transition: all 300ms ease 0ms;
}
.et_pb_button:after, .et_pb_button:before {
    font-size: 32px;
    line-height: 1em;
    content: "\35";
    opacity: 0;
    position: absolute;
    margin-left: -1em;
    -webkit-transition: all .2s;
    transition: all .2s;
    text-transform: none;
    -webkit-font-feature-settings: "kern" off;
    font-feature-settings: "kern" off;
    font-variant: none;
    font-style: normal;
    font-weight: 400;
    text-shadow: none;
}
#et-info-email:before, #et-info-phone:before, #et_search_icon:before, .comment-reply-link:after, .et-cart-info span:before, .et-pb-arrow-next:before, .et-pb-arrow-prev:before, .et-social-icon a:before, .et_audio_container .mejs-playpause-button button:before, .et_audio_container .mejs-volume-button button:before, .et_overlay:before, .et_password_protected_form .et_submit_button:after, .et_pb_button:after, .et_pb_contact_reset:after, .et_pb_contact_submit:after, .et_pb_font_icon:before, .et_pb_newsletter_button:after, .et_pb_pricing_table_button:after, .et_pb_promo_button:after, .et_pb_social_icon a.icon:before, .et_pb_testimonial:before, .et_pb_toggle_title:before, .form-submit .et_pb_button:after, .mobile_menu_bar:before, .woocommerce #content input.button.alt:after, .woocommerce #content input.button:after, .woocommerce #respond input#submit.alt:after, .woocommerce #respond input#submit:after, .woocommerce-page #content input.button.alt:after, .woocommerce-page #content input.button:after, .woocommerce-page #respond input#submit.alt:after, .woocommerce-page #respond input#submit:after, .woocommerce-page a.button.alt:after, .woocommerce-page a.button:after, .woocommerce-page button.button.alt:after, .woocommerce-page button.button:after, .woocommerce-page input.button.alt:after, .woocommerce-page input.button:after, .woocommerce a.button.alt:after, .woocommerce button.button.alt:after, .woocommerce button.button:after, .woocommerce button.single_add_to_cart_button.button:after, .woocommerce input.button.alt:after, .woocommerce input.button:after, a.et_pb_more_button:after {
    font-family: ETmodules!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0 0;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@media (max-width: 980px){
.et_pb_bottom_divider .et_pb_row:nth-last-child(2) .et_pb_column:last-child, .et_pb_row .et_pb_column.et-last-child, .et_pb_row .et_pb_column:last-child {
    margin-bottom: 0;
}
}
.et_pb_row .et_pb_column.et-last-child, .et_pb_row .et_pb_column:last-child, .et_pb_row_inner .et_pb_column.et-last-child, .et_pb_row_inner .et_pb_column:last-child {
    margin-right: 0!important;
}
@media (max-width: 980px){
.et_pb_column.et_pb_column_empty {
    display: none;
}
}
.et_pb_column.et_pb_column_empty {
    min-height: 1px;
}
@media (max-width: 980px){
.et_pb_column {
    width: 100%;
    margin-bottom: 30px;
}
}
.et_pb_all_tabs, .et_pb_column, .et_pb_counters .et_pb_counter_container, .et_pb_module, .et_pb_portfolio_item, .et_pb_posts_nav a, .et_pb_pricing_table, .et_pb_row, .et_pb_row_inner, .et_pb_slide, .et_pb_tab, .et_pb_with_background {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.et_pb_css_mix_blend_mode_passthrough {
    mix-blend-mode: unset!important;
}
.et_pb_column {
    float: left;
    background-size: cover;
    background-position: 50%;
    position: relative;
    z-index: 2;
    min-height: 1px;
}
@media (max-width: 479px){
.et_pb_column {
    width: 100%!important;
}
}
a, abbr, acronym, address, applet, b, big, blockquote, body, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body, input, textarea, select {
    font-family: 'Qanelas-regular',Helvetica,Arial,Lucida,sans-serif;
}
body, .et_pb_column_1_2 .et_quote_content blockquote cite, .et_pb_column_1_2 .et_link_content a.et_link_main_url, .et_pb_column_1_3 .et_quote_content blockquote cite, .et_pb_column_3_8 .et_quote_content blockquote cite, .et_pb_column_1_4 .et_quote_content blockquote cite, .et_pb_blog_grid .et_quote_content blockquote cite, .et_pb_column_1_3 .et_link_content a.et_link_main_url, .et_pb_column_3_8 .et_link_content a.et_link_main_url, .et_pb_column_1_4 .et_link_content a.et_link_main_url, .et_pb_blog_grid .et_link_content a.et_link_main_url, body .et_pb_bg_layout_light .et_pb_post p, body .et_pb_bg_layout_dark .et_pb_post p {
    font-size: 16px;
}
body {
    font-family: Open Sans,Arial,sans-serif;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    line-height: 1.7em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    line-height: 1;
}
:root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@media only screen and (max-width: 767px)
.et_pb_section_1.et_pb_section {
    padding-top: 0px;
    padding-bottom: 20px;
}
.et_pb_section_1.et_pb_section {
    padding-top: 60px;
    padding-bottom: 0px;
}
@media (max-width: 980px)
.et_pb_section {
    padding: 50px 0;
}
.et_pb_section {
    position: relative;
    background-color: #fff;
}
.et_pb_section, .et_pb_slider .et_pb_slide {
    background-position: 50%;
    background-size: 100%;
    background-size: cover;
}
a, abbr, acronym, address, applet, b, big, blockquote, body, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body, input, textarea, select {
    font-family: 'Qanelas-regular',Helvetica,Arial,Lucida,sans-serif;
}
body, .et_pb_column_1_2 .et_quote_content blockquote cite, .et_pb_column_1_2 .et_link_content a.et_link_main_url, .et_pb_column_1_3 .et_quote_content blockquote cite, .et_pb_column_3_8 .et_quote_content blockquote cite, .et_pb_column_1_4 .et_quote_content blockquote cite, .et_pb_blog_grid .et_quote_content blockquote cite, .et_pb_column_1_3 .et_link_content a.et_link_main_url, .et_pb_column_3_8 .et_link_content a.et_link_main_url, .et_pb_column_1_4 .et_link_content a.et_link_main_url, .et_pb_blog_grid .et_link_content a.et_link_main_url, body .et_pb_bg_layout_light .et_pb_post p, body .et_pb_bg_layout_dark .et_pb_post p {
    font-size: 16px;
}
body {
    font-family: Open Sans,Arial,sans-serif;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    line-height: 1.7em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    line-height: 1;
}
:root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@media only screen and (max-width: 767px)
.et_pb_row_2.et_pb_row {
    margin-bottom: 36px!important;
}
.et_pb_row_2.et_pb_row {
    margin-top: 70px!important;
    margin-right: auto!important;
    margin-bottom: 90px!important;
    margin-left: auto!important;
    margin-left: auto!important;
    margin-right: auto!important;
}
@media only screen and (max-width: 767px)
.et_pb_row_2, body #page-container .et-db #et-boc .et-l .et_pb_row_2.et_pb_row, body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_2.et_pb_row, body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_2.et_pb_row {
    width: 80%;
}
.et_pb_row_2, body #page-container .et-db #et-boc .et-l .et_pb_row_2.et_pb_row, body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_2.et_pb_row, body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_2.et_pb_row {
    max-width: 1440px;
}
.container, .et_pb_row, .et_pb_slider .et_pb_container, .et_pb_fullwidth_section .et_pb_title_container, .et_pb_fullwidth_section .et_pb_title_featured_container, .et_pb_fullwidth_header:not(.et_pb_fullscreen) .et_pb_fullwidth_header_container {
    max-width: 1920px;
}
@media (max-width: 980px)
.et_pb_row {
    max-width: 1080px;
}
@media (max-width: 980px){
.et_pb_column .et_pb_row_inner, .et_pb_row {
    padding: 30px 0;
}
}
.et_pb_all_tabs, .et_pb_column, .et_pb_counters .et_pb_counter_container, .et_pb_module, .et_pb_portfolio_item, .et_pb_posts_nav a, .et_pb_pricing_table, .et_pb_row, .et_pb_row_inner, .et_pb_slide, .et_pb_tab, .et_pb_with_background {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.et_pb_row {
    width: 80%;
    max-width: 1080px;
    margin: auto;
    position: relative;
}
a, abbr, acronym, address, applet, b, big, blockquote, body, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body, input, textarea, select {
    font-family: 'Qanelas-regular',Helvetica,Arial,Lucida,sans-serif;
}
body, .et_pb_column_1_2 .et_quote_content blockquote cite, .et_pb_column_1_2 .et_link_content a.et_link_main_url, .et_pb_column_1_3 .et_quote_content blockquote cite, .et_pb_column_3_8 .et_quote_content blockquote cite, .et_pb_column_1_4 .et_quote_content blockquote cite, .et_pb_blog_grid .et_quote_content blockquote cite, .et_pb_column_1_3 .et_link_content a.et_link_main_url, .et_pb_column_3_8 .et_link_content a.et_link_main_url, .et_pb_column_1_4 .et_link_content a.et_link_main_url, .et_pb_blog_grid .et_link_content a.et_link_main_url, body .et_pb_bg_layout_light .et_pb_post p, body .et_pb_bg_layout_dark .et_pb_post p {
    font-size: 16px;
}
body {
    font-family: Open Sans,Arial,sans-serif;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    line-height: 1.7em;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    line-height: 1;
}
:root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.et_pb_row:after, .et_pb_row_inner:after, .et_pb_slides:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    width: 0;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}





.sec2 h1{
    padding-left: 200px;
    padding-top: 300px;
    font-size: 50px;
    font-family: 'Qanelas-semibold',Helvetica,Arial,Lucida,sans-serif;
    line-height: 63px;
    font-weight: 500;
    color: #333;
}
.vid video{
    width: 700px;
    height: auto;
    float: right;
    padding-bottom: 150px;
    padding-right: 200px;
    /* box-shadow:  3px 3px 0 0 rgb(218, 2, 2); */
}
/* .sec2{
    display: inline;
} */
.sec2 p{
    line-height: 37px;
    color: #000000!important;
    text-align: left;
    font-family: 'Qanelas-light',Helvetica,Arial,Lucida,sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    font-weight: lighter;
    padding-left: 200px;
}
.btn{
    
    color: #ffffff!important;
    border-width: 0px!important;
    border-color: #e50000;
    border-radius: 0px;
    font-size: 18px;
    font-family: 'Qanelas-semibold',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 700!important;
    background-color: #3c3c3c;
    height: 50px;
    width: 250px;
    margin-left: 14%;
    text-align: center;
}
.btn:hover{
    box-shadow: 10px 10px 0 0 #e50000;
}
.sec3{
    width: 100%;
    height: 600px;
    /* border: 2px solid black; */
    margin-top: 30%;
}
.sec3 div > h1{
    font-family: 'Qanelas-semibold',Helvetica,Arial,Lucida,sans-serif;
    font-size: 50px;
    line-height: 63px;
    margin-left: 9%;
    color: #333;
    padding-bottom: 10px;
    line-height: 1em;
    font-weight: 500;
}
.sec3 div>p{
    font-family: 'Qanelas-light',Helvetica,Arial,Lucida,sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 18px;
    line-height: 36px;
    margin-left: 9%;
    word-wrap: break-word;
    font-weight: lighter;
}
.sec3 img{
    width: 500px;
    height: auto;
    margin-bottom: 15%;
    margin-right: 80px;
    box-shadow: 10px 10px 0 0 #e50000;
}
.btn2{
    color: #ffffff!important;
    border-width: 0px!important;
    border-color: #e50000;
    border-radius: 0px;
    font-size: 18px;
    font-family: 'Qanelas-semibold',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 700!important;
    background-color: #3c3c3c;
    margin-left: 9%;
    height: 43px;
    width: 190px;
    margin-top: 5%;
}
.btn2:hover{
    box-shadow: 8px 8px 0 0 #e50000;
}
.parant{
    width: 100%;
    padding-top: 150px;
    padding-left: 10%;
    height: auto;
    display: flex;
    text-align: end;
    text-align-last: auto;
}
.parant span{
    padding-right: 20%;
    font-size: 18px;
    line-height: 40px;
}

/* .child{
    width: 100%;
    float: right;
    box-sizing: border-box;
}
.child span{
    display: contents;
    font-weight: 500px;
    font-size: 18px;
} */

.col-xs-6 p{
    font-size: 26px;
    font-weight: lighter;
    font-family: 'Qanelas-light',Helvetica,Arial,Lucida,sans-serif;
    
}
.btn4{
    background-color: #292525;
    color: #ffffff;
    width: 190px;
    height: 43px;
    font-size: 18px;
    
}
.btn4:hover{
    box-shadow: 8px 8px 0 0 #e50000;
}
video{
    box-shadow: 10px 10px 0 0 #e50000;
    height:fit-content
    /* padding-bottom: 50%; */
}
.demo{
    width: 100%;
    align-items: inherit;
    box-sizing: border-box;
    padding-top: 20%;
}
.sec6{
    width: 100%;
    height: 400px;
    background-color: rgb(252, 245, 238);
    margin-top: 18%;
    text-align: center;
    font-size: 22px;
}
.sec5{
    width: 100%;
    height: 900px;
    background-color: antiquewhite;
}
.sec3 h1{
    color: #000000;
}
.sec3 img{
    box-shadow: 10px 10px 0 0 #e50000;
}
.sec3 .btn3{
    width: 190px;
    height: 40px;
    color: #ffffff;
    background-color: #3c3c3c;
    border: none;
    font-size: 17px;
}
/* -------------------------- */
/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  .sec8 div{
      align-items: center;
  }
  .sec9 .main{

    margin: 2%;
   }
   
    .sec9 .card{
        width: 25%;
        display: inline-block;
        /* box-shadow: 2px 2px 20px black; */
        border-radius: 5px; 
        margin: 4%;
       }
   
  .sec9 .image img{
     width: 100%;
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;
    
    }
   

   .sec10 .main{

    margin: 2%;
   }
   
    .sec10 .card{
        width: 25%;
        display: inline-block;
        /* box-shadow: 2px 2px 20px black; */
        border-radius: 5px; 
        margin: 4%;
       }
   
  .sec10 .image img{
     width: 100%;
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;
    
    }

    .last a{
        color: #ffffff;
        font-size: 18px;
        padding-left: 1%;
        padding-top: 1%;
    }
    .last{
        padding-left: 8%;
    }
    .last a:hover{
        color: #ffffff;
        text-decoration: none;
    }
    footer{
        padding-left: 9%;
        font-size: 18px;
        color: #ffffff;
    }