*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /* font-family: 'Roboto', sans-serif; */
    font-size: 10px;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
    padding-left: 10px;
    background-color: white;
    color: #151515;
}

.container{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.nav{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 2px solid rgba(255,255,255,.05); */
    transition: height .5s ease;
}
.nav a:hover{
    /* color: #fa0202; */
    opacity: 0.7;
    text-decoration: none;
}

.nav a{
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
}

.nav .logo{
    font-size: .5rem;
    font-weight: bold;
}

.nav-list{
    list-style: none;
    display: flex;
    margin-right: auto;
    margin-left: 4rem;
}

.nav-link{
    margin: 0 2rem;
    position: relative;
}
@font-face {
    font-family: soft;
    src: url(/assets/fonts/QanelasSoft-Medium.ttf);
}
.nav-link{
    font-family: soft;
}
#nav-cta{
    font-family: soft;
}
.nav-link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}

.nav-link:hover::after{
    transform: scaleX(1);
}

#nav-cta{
    display: inline-block;
     background-color: rgb(255, 254, 254); 
    color: #e50000;
    padding: 1rem 2rem;
    /* border-radius: 2rem; */
    /* transition: background-color .5s ease; */
    /* width: 200px; */
    font-weight: bold;
    border: 2px solid #e50000;
    font-size: 22px;
}
#nav-cta{
    width: 300px;
    text-align: center;
}

/*Apply styles after scroll*/
.scrolling-active{
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

.scrolling-active .nav{
    height: 6.6rem;
}

.scrolling-active #nav-cta{
    background-color: #e50000;
    /* color: rgb(241, 4, 4); */
    border-color: #e50000; 
    color: #ffffff;
}

 .scrolling-active #nav-cta:hover{
    text-decoration: none;
} 

 .scrolling-active .nav-link::after{
    background-color: #313131;
} 

.hero::after{
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}

.demo-content{
    width: 100%;
    height: 200vh;
    background-color: #fff;
}
/* Hero end*/
.nav ul li a{
    font-weight: bolder;
    font-size: 20px;
    color: #151515;
}
body{
    overflow-x: hidden;
}
@font-face {
    font-family: semibold;
    src: url(/assets/fonts/QanelasSoft-SemiBold.ttf);
}
@font-face {
    font-family: light ;
    src: url(/assets/fonts/QanelasSoft-Light.ttf);
}
@font-face {
    font-family:Qanelas-regular;
    src: url(/assets/fonts/QanelasSoft-Regular.ttf);
}
@font-face {
    font-family: semibold;
    src: url(/assets/fonts/QanelasSoft-SemiBold.ttf);
} 
 /* main body work */
 .main-page{
    padding-top: 75px;
    background-image: linear-gradient(180deg,rgba(255,255,255,0) 90%,#ffffff 100%),url(/assets/images/image-000-scaled.jpg)!important;
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #fff;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;

}
.main-row{
    max-width: 1920px;
    padding: 30px 0;
    margin: 10% 0% 10% 15%
}
.main-row h1{
    font-family: light;
}
.main-row h3{
    font-family: semibold;
    font-weight: 300;
    font-size: 90px;
    color: #000000!important;
    line-height: 72px;
    padding-bottom: 10px;
    overflow-wrap: break-word;
}
.main-row button{
    width: 210px;
    height: 45px;
    font-size: 22px;
    font-family: semibold;
    color: #fff;
    background-color: #e50000;
    border: none;
    margin: 4%;
}
@media only screen and (max-width: 767px){
.main-row h3 {
    font-size: 24px;
}
}
    @media only screen and (max-width: 767px){
.main-row{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}
    }
.main-row {
    padding-bottom: 0px!important;
    margin-bottom: 90px!important;
    padding-bottom: 0px;
}
@media only screen and (max-width: 767px){
.main-row{
    width: 80%;
}
}
 
 @media only screen and (max-width: 767px){
.main-page {
    padding-bottom: 20px;
    margin-top: 72px;
}
 }

@media (max-width: 980px){
.main-page {
    padding: 50px 0;
}
}
/* rows start */
.row h2{
    font-size: 50px;
    font-family: semibold;
}
.row p{
    font-size: 22px;
    font-family: light;
}
.row video{
    width: 100%;
    box-shadow: 10px 10px #e50000;
}