*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
    padding-left: 10px;
    background-color: white;
    color: #151515;
}

.container{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.nav{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 2px solid rgba(255,255,255,.05); */
    transition: height .5s ease;
}
.nav a:hover{
    /* color: #fa0202; */
    opacity: 0.7;
    text-decoration: none;
}

.nav a{
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
}

.nav .logo{
    font-size: 3.5rem;
    font-weight: bold;
}

.nav-list{
    list-style: none;
    display: flex;
    margin-right: auto;
    margin-left: 4rem;
}

.nav-link{
    margin: 0 2rem;
    position: relative;
}

.nav-link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}

.nav-link:hover::after{
    transform: scaleX(1);
}

#nav-cta{
    display: inline-block;
     background-color: rgb(255, 254, 254); 
    color: #e50000;
    padding: 1rem 2rem;
    /* border-radius: 2rem; */
    /* transition: background-color .5s ease; */
    /* width: 200px; */
    font-weight: bold;
    border: 2px solid #e50000;
    font-size: 22px;
}
#nav-cta{
    width: 300px;
    text-align: center;
}

/* #nav-cta:hover{
    background-color: #d3d3d3;
} */


/*Apply styles after scroll*/
.scrolling-active{
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

.scrolling-active .nav{
    height: 6.6rem;
}

.scrolling-active .nav a{
    color: #313131;
}

.scrolling-active #nav-cta{
    background-color: #e50000;
    /* color: rgb(241, 4, 4); */
    border-color: #e50000; 
    color: #ffffff;
}

 .scrolling-active #nav-cta:hover{
    text-decoration: none;
} 

 .scrolling-active .nav-link::after{
    background-color: #313131;
} 

/*Apply styles after scroll end*/


/* Hero Demo Content*/
/* .hero{
    width: 100%;
    height: 100vh;
     background: url("../images/Screenshot\ \(364\).png") center no-repeat;
    
    background-size: cover;
    position: relative;
} */

.hero::after{
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}

.demo-content{
    width: 100%;
    height: 200vh;
    background-color: #fff;
}
/* Hero end*/
.nav ul li a{
    font-weight: bolder;
    font-size: 20px;
    color: #151515;
}

 
 .landingPageAnimation{
     background-image:  linear-gradient(180deg,rgba(255,255,255,0) 80%,#ffffff 100%) ,url("../images/image-000-scaled.jpg");
    background-size:cover;
    position:relative;
    padding-top: 75px; 
}
.landingPageAnimation button{
    margin-left: 12%;
    height: 50px;
    width: 260px;
    color: #ffffff!important;
    border-width: 0px!important;
    border-color: #e50000;
    border-radius: 0px;
    font-size: 22px;
    font-family: 'Qanelas-semibold',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 700!important;
    background-color: #e50000;
    position: relative;
    left: 2%;
    bottom: 200px;
}
.landingPageAnimation button:hover{
    box-shadow:  10px 10px 0 0 rgb(34, 28, 28);
}
.landingPageAnimation h1{
    position: relative; 
    left: 13%;
    bottom: 290px;
    font-size: 42px;
    font-family: 'Qanelas-regular',Helvetica,Arial,Lucida,sans-serif;
    font-size: 42px;
    line-height: 43px;
    font-weight: 500;


} 
/* .landingPageAnimation h1 h3{
    font-weight: 700;
} */
@media only screen and (max-width: 767px){
.landingPageAnimation h3 {
    font-size: 24px;
}}
.landingPageAnimation h3 {
    font-family: 'Qanelas-semibold',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 300;
    font-size: 90px;
    color: #000000!important;
    line-height: 72px;
}



























.sec2 h1{
    padding-left: 200px;
    padding-top: 300px;
    font-size: 50px;
    font-family: 'Qanelas-semibold',Helvetica,Arial,Lucida,sans-serif;
    line-height: 63px;
    font-weight: 500;
    color: #333;
}

.vid video{
    width: 700px;
    height: auto;
    float: right;
    padding-bottom: 150px;
    padding-right: 200px;
    /* box-shadow:  3px 3px 0 0 rgb(218, 2, 2); */
}
/* .sec2{
    display: inline;
} */
.sec2 p{
    line-height: 37px;
    color: #000000!important;
    text-align: left;
    font-family: 'Qanelas-light',Helvetica,Arial,Lucida,sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    font-weight: lighter;
    padding-left: 200px;
}
.btn{
    
    color: #ffffff!important;
    border-width: 0px!important;
    border-color: #e50000;
    border-radius: 0px;
    font-size: 18px;
    font-family: 'Qanelas-semibold',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 700!important;
    background-color: #3c3c3c;
    height: 50px;
    width: 250px;
    margin-left: 14%;
    text-align: center;
}
.btn:hover{
    box-shadow: 10px 10px 0 0 #e50000;
}
.sec3{
    width: 100%;
    height: 600px;
    /* border: 2px solid black; */
    margin-top: 30%;
}
.sec3 div > h1{
    font-family: 'Qanelas-semibold',Helvetica,Arial,Lucida,sans-serif;
    font-size: 50px;
    line-height: 63px;
    margin-left: 9%;
    color: #333;
    padding-bottom: 10px;
    line-height: 1em;
    font-weight: 500;
}
.sec3 div>p{
    font-family: 'Qanelas-light',Helvetica,Arial,Lucida,sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 18px;
    line-height: 36px;
    margin-left: 9%;
    word-wrap: break-word;
    font-weight: lighter;
}
.sec3 img{
    width: 500px;
    height: auto;
    margin-bottom: 15%;
    margin-right: 80px;
    box-shadow: 10px 10px 0 0 #e50000;
}
.btn2{
    color: #ffffff!important;
    border-width: 0px!important;
    border-color: #e50000;
    border-radius: 0px;
    font-size: 18px;
    font-family: 'Qanelas-semibold',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 700!important;
    background-color: #3c3c3c;
    margin-left: 9%;
    height: 43px;
    width: 190px;
    margin-top: 5%;
}
.btn2:hover{
    box-shadow: 8px 8px 0 0 #e50000;
}
.parant{
    width: 100%;
    padding-top: 150px;
    padding-left: 10%;
    height: auto;
    display: flex;
    text-align: end;
    text-align-last: auto;
}
.parant span{
    padding-right: 20%;
    font-size: 18px;
    line-height: 40px;
}

/* .child{
    width: 100%;
    float: right;
    box-sizing: border-box;
}
.child span{
    display: contents;
    font-weight: 500px;
    font-size: 18px;
} */

.col-xs-6 p{
    font-size: 26px;
    font-weight: lighter;
    font-family: 'Qanelas-light',Helvetica,Arial,Lucida,sans-serif;
    
}
.btn4{
    background-color: #292525;
    color: #ffffff;
    width: 190px;
    height: 43px;
    font-size: 18px;
    
}
.btn4:hover{
    box-shadow: 8px 8px 0 0 #e50000;
}
video{
    box-shadow: 10px 10px 0 0 #e50000;
    height:fit-content
    /* padding-bottom: 50%; */
}
.demo{
    width: 100%;
    align-items: inherit;
    box-sizing: border-box;
    padding-top: 20%;
}
.sec6{
    width: 100%;
    height: 400px;
    /* background-color: rgb(252, 245, 238); */
    margin-top: 18%;
    text-align: center;
    font-size: 22px;
    background-color: rgba(204,204,204,0.1)!important;
}

.sec5{
    width: 100%;
    height: 900px;
    background-color: antiquewhite;
}
.sec3 h1{
    color: #000000;
}
.sec3 img{
    box-shadow: 10px 10px 0 0 #e50000;
}
.sec3 .btn3{
    width: 190px;
    height: 40px;
    color: #ffffff;
    background-color: #3c3c3c;
    border: none;
    font-size: 17px;
}
/* -------------------------- */
/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  .sec8 div{
      align-items: center;
  }
  .sec8{
    background-color: rgba(204,204,204,0.5)!important;
    padding-bottom: 3%;
}
  .sec8 .card{
      width: 70%;
  }
  .sec8 .card img{
      width: 100%;
  }
  .sec9 .main{
    margin: 2%;
   }
   
    .sec9 .card{
        width: 20%;
        display: inline-block;
        /* box-shadow: 2px 2px 20px black; */
        border-radius: 5px; 
        margin: 2%;
        margin-left: 9%;
        box-shadow: none;
       }
   
  .sec9 .image img{
     width: 100%;
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;
     box-shadow: none;
    
    }
   

   .sec10 .main{

    margin: 2%;
   }
   
    .sec10 .card{
        width: 20%;
        display: inline-block;
        /* box-shadow: 2px 2px 20px black; */
        border-radius: 5px; 
        margin: 2%;
        margin-left: 9%;
       }
   
  .sec10 .image img{
     width: 100%;
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;
    
    }

    .last a{
        color: #ffffff;
        font-size: 17px;
        padding-left: 1%;
        padding-top: 1%;
        text-decoration: none;
    }
    .last{
        padding-left: 8%;
        margin-top: 2%;
    }
    .last a:hover{
        color: #ffffff;
        text-decoration: none;
    }
    footer{
        padding-left: 9%;
        font-size: 17px;
        color: #ffffff;
        margin-top: 8%;
        font-weight: lighter;
    }
